<<<<<<< HEAD
<%= render 'shared/trip_header'%>

<h1>Add travellers here</h1>

<%#= Traveller.all.to_a %>
<script>
    $.ajax(`/api/trips/<%= params[:id] %>`).done( response => {

      console.log(response);

      var element = document.createElement('h2');  
      element.textContent = response.name;
      document.body.appendChild(element);
    })
</script>
=======
<%= render “shared/trip_header” %>

<h1>Add travellers here</h1>

<%# <p>This trip id is <%= params[:id] %></p> %>

<%# <%= Traveller.all.to_a %> %>
>>>>>>> getting votes for places
