<div class="container-fluid mt-1">
  <h1 class="display-4"><%= @trip.name %></h1>
  <p class="lead"> <%= @trip.location %> | <%= @trip.start_date.strftime("%d %B %Y") %> - <%= @trip.end_date.strftime("%d %B %Y") %></p>
  <input type="hidden" value="<%= @trip.id %>" id="trip_id">
</div>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link trip-tabs" href="/trips/<%= @trip.id %>/places">Places</a>
  </li>
  <li class="nav-item">
    <a class="nav-link trip-tabs" href="/trips/<%= @trip.id %>/calendar">Calendar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link trip-tabs active" href="/trips/<%= @trip.id %>/travellers">Travellers</a>
  </li>
</ul>

<div class="container-fluid mt-3">
    <div class="section mt-3">
        <h2>Travellers</h2>
    </div>

    <div class="section">
       <form action="" class="add-traveller-form">
        <input type="text" placeholder="Traveller email address" class="traveller-email-input form-control mr-4">
        <button class='add-traveller-btn btn btn-secondary' style='margin: 20px auto 20px auto'>Add Traveller</button>
      </form>
    </div>
</div>

  
<script>

  var headerContainer = document.createElement('div');
  headerContainer.style.margin = 'auto auto auto 15px';
  headerContainer.style.padding = '15px 0 0 0';
  headerContainer.style.borderTop = '1px solid grey';
  var currentTravellersHeader = document.createElement('h4');
  currentTravellersHeader.textContent = "Current Travellers:";
  document.body.appendChild(headerContainer).appendChild(currentTravellersHeader);

  function showTravellersByTripId() {

    var allTravellerElements = document.querySelectorAll('.traveller-container');
    allTravellerElements.forEach(element => element.remove());

    $.ajax(`/api/travellers?trip_id=<%= params[:id] %>`).done( response => {

      response.forEach(response => {

        var travellerContainer = document.createElement('div');
        travellerContainer.classList.add('traveller-container');
        travellerContainer.style.border = '0.5px solid rgba(0,0,255,0.2)';

        var travellerElement = document.createElement('p');  
        travellerElement.textContent = response.user_email;
        travellerElement.style.width = '85vw';
        travellerElement.style.display = 'inline-block';
        travellerElement.style.margin = '5px 2px 5px 25px';

      //   var deleteButton = document.createElement('button')
      //   deleteButton.classList.add('btn', 'btn-light', 'btn-sm')
      //   deleteButton.innerHTML = 'Delete'
      //   deleteButton.href = `/travellers/${this_trip_id}`

      // $(deleteButton).click(() => {
      //   if (confirm(`Are you sure you want to delete ${$(event.target).parentsUntil(".card").find(".card-title")[0].innerHTML} from your trip?`)) {
      //     $.ajax({
      //       method: 'DELETE',
      //       url: `/api/places/${place.id}/delete`,
      //       async: false,
      //       complete: function (response, status) {
      //         if (status == 'success') {
      //         } else {
      //           alert('Error: the service responded with: ' + response.status + '\n' + response.responseText)
      //         }
      //       }
      //     }).done(() => {
      //       $(event.target).parentsUntil(".card").parent().hide()
      //     })
      //   } else {
      //   }

      // })

      

        var travellerProfileImage = document.createElement('img');
        travellerProfileImage.src = response.image_url;
        travellerProfileImage.style.width = '4vw';
        travellerProfileImage.style.borderRadius = '50%';
        travellerProfileImage.style.margin = '5px 0 5px 20px';

        travellerContainer.appendChild(travellerProfileImage);
        travellerContainer.appendChild(travellerElement);

        document.body.appendChild(travellerContainer);
      });
    })  
  }

  showTravellersByTripId();
</script>

<script>
  var addTravellerForm = document.querySelector('.add-traveller-form');
  function addNewTraveler(event) {
    event.preventDefault();
    // Add new traveller to table;
    var travellerEmailInput = document.querySelector('.traveller-email-input');
    $.ajax({
      url: '/api/travellers/create',
      data: {
        user_email: travellerEmailInput.value,
        trip_id: <%= params[:id] %>
      },
      method: 'post'
    }).done(response => {
      // debugger
      var newTraveler = document.createElement('h5');
      newTraveler.textContent = response.user_email;
      document.body.appendChild(newTraveler);
    })  
  }


  addTravellerForm.addEventListener('submit', addNewTraveler)
</script>