<div class="container-fluid">
  <h3><%= @trip.name %></h3>
  <h4> <%= @trip.start_date %> </h4>
  <h4> <%= @trip.end_date %> </h4>
  <p> <%= @trip.location %></p>

  <h6>Oh the places you'll go...</h6>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link trip-tabs" href="/trips/<%= @trip.id %>/places">Places</a>
  </li>
  <li class="nav-item">
    <a class="nav-link trip-tabs active" href="/trips/<%= @trip.id %>/calendar">Calendar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link trip-tabs" href="/trips/<%= @trip.id %>/travellers">Travellers</a>
  </li>
</ul>

<div class="container-fluid mt-3">
    <div class="section mt-3">
        <h2>Calendar</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Event</th>
                </tr>
            </thead>
            <tbody>
                <%# <% @result.items.each do |event| %>
                <%# <tr> %>
                    <%# <th scope="row"><%= event.start.date_time || event.start.date </th> %>
                    <%# <td><%=event.summary</td> %>
                <%# </tr> %>
                <%# <% end %>
            </tbody>
        </table>
    </div>

    <div class="section">
        <a href="https://calendar.google.com/calendar/r" class="btn btn-secondary">View in Google Calendar</a>
    </div>
</div>

<script>
    $.ajax(`/api/places?trip_id=<%= params[:id] %>`).done( response => {
        response.items.forEach(event => {
            var h1 = document.createElement('h1')
            h1.innerHTML = event.summary
            $('.section.mt-3')[0].appendChild(h1)
        })
    })
</script>