<div class="container-fluid mt-1">
  <h1 class="display-4"><%= @trip.name %></h1>
  <p class="lead"> <%= @trip.location %> | <%= @trip.start_date.strftime("%d %B %Y") %> - <%= @trip.end_date.strftime("%d %B %Y") %></p>
  <input type="hidden" value="<%= @trip.id %>" id="trip_id">
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link trip-tabs" href="/trips/<%= @trip.id %>/places">Places</a>
  </li>
  <li class="nav-item">
    <a class="nav-link trip-tabs active" href="/trips/<%= @trip.id %>/calendar">Calendar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link trip-tabs" href="/trips/<%= @trip.id %>/travellers">Travellers</a>
  </li>
</ul>

<div class="container-fluid mt-3">
    <div class="mt-3 table-responsive-xl">
        <table class="table table-bordered">
            <thead>
                <tr class="date-header">
                </tr>
            </thead>
            <tbody>
                <tr class="event-table">
                </tr>
            </tbody>
        </table>
    </div>

    <div class="section">
        <a target="_blank" href="https://calendar.google.com/calendar/r" class="btn btn-secondary">View in Google Calendar</a>
    </div>
</div>

<script>
    moment.tz.add("Australia/Melbourne|AEST AEDT|-a0 -b0|0101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101|-293lX xcX 10jd0 yL0 1cN0 1cL0 1fB0 19X0 17c10 LA0 1C00 Oo0 1zc0 Oo0 1zc0 Oo0 1zc0 Rc0 1zc0 Oo0 1zc0 Oo0 1zc0 Oo0 1zc0 Oo0 1zc0 Oo0 1zc0 Rc0 1zc0 Oo0 1zc0 Oo0 1zc0 Oo0 1zc0 U00 1qM0 WM0 1qM0 11A0 1tA0 U00 1tA0 U00 1tA0 Oo0 1zc0 Oo0 1zc0 Rc0 1zc0 Oo0 1zc0 WM0 1qM0 11A0 1o00 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 11A0 1o00 1qM0 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 1qM0 11A0 1o00 WM0 1qM0 14o0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1fA0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1fA0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1fA0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1fA0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1fA0 1cM0 1cM0 1cM0 1cM0|39e5")
    var this_trip_id = $('#trip_id')[0].value
    var createEventCard = function(calEvent) {
      eventCard = $('<div></div>').attr({class:"card bg-light mb-3"})
      
      eventDates = $('<div></div>').attr({class:"card-header"}).html(`${moment(calEvent.start.dateTime).format("h:mm A")} - ${moment(calEvent.end.dateTime).format("h:mm A")}`)
      eventCard.append(eventDates)

      cardBody = $('<div></div>').attr({class:"card-body"})
        eventName = $('<h5></h5>').attr({class: "card-title"}).html(calEvent.summary)
        cardBody.append(eventName)

        eventLocation = $('<p></p>').attr({class: "card-text"}).html(calEvent.location)
        cardBody.append(eventLocation)
        
        eventDescription = $('<p></p>').attr({class: "card-text"}).html(calEvent.description)
        cardBody.append(eventDescription)
      
      eventCard.append(cardBody)

      deleteButton = $('<button></button>').attr({class: 'btn btn-link text-right mb-3 mr-3'}).html('Delete event')
      $(deleteButton).click((event) => {
        if (confirm(`Are you sure you want to delete ${$(event.target).parent().children().find(".card-title")[0].innerHTML} from your trip?`)) {
          $.ajax({
            method: 'DELETE', 
            url: `/api/calendar/${this_trip_id}/event/${calEvent.id}`,
            async: false,
            complete: function (response, status) {
              if (status == 'success') {
              } else {
                alert('Error: the service responded with: ' + response.status + '\n' + response.responseText)
              }
            }
          }).done(() => {
            $(event.target).parent().hide()
          })
        } else {
        }
      })

      eventCard.append(deleteButton)
      $('td').last().append(eventCard)
    }

    $.ajax(`/api/calendar/${this_trip_id}`).done( response => {
      // reset the scenes
      $('date-header').html('')
      $('event-table').html('')

        // find list dates of dates as headers
        // dates = $.uniqueSort(response.items.map(item => new Date(item.start.dateTime).toDateString()))
        dates = $.uniqueSort(response.items.map(item => new Date(item.start.dateTime)))
        startMoment = moment(dates[0])
        endMoment = moment(dates.slice(-1)[0]).add(1, 'days')

        // loop through each date
        while (startMoment.isBefore(endMoment, 'day')) {
          var header = $('<th></th>').attr({scope: "col", style: "min-width: 300px"}).html(startMoment.format('ddd D MMM YYYY'))
          $('.date-header').append(header)

          data = $('<td></td>').attr({class: 'event-space'})
          $('.event-table').append(data)

          var events = response.items.filter( item => moment.tz(item.start.dateTime, item.start.timeZone).isSame(startMoment, 'day'))
          events.forEach(createEventCard);
          startMoment.add(1, 'days');
        }
    })

</script>