<div class="container-fluid mt-1">
  <h1 class="display-4"><%= @trip.name %></h1>
  <p class="lead"> <%= @trip.location %> | <%= @trip.start_date.strftime("%d %B %Y") %> - <%= @trip.end_date.strftime("%d %B %Y") %></p>
  <input type="hidden" value="<%= @trip.id %>" id="trip_id">
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link trip-tabs" href="/trips/<%= @trip.id %>/places">Places</a>
  </li>
  <li class="nav-item">
    <a class="nav-link trip-tabs active" href="/trips/<%= @trip.id %>/calendar">Calendar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link trip-tabs" href="/trips/<%= @trip.id %>/travellers">Travellers</a>
  </li>
</ul>

<div class="container-fluid mt-3">
    <div class="section mt-3">
        <table class="table table-bordered">
            <thead>
                <tr class="date-header">
                </tr>
            </thead>
            <tbody>
                <tr class="event-table">
                </tr>
            </tbody>
        </table>
    </div>

    <div class="section">
        <a href="https://calendar.google.com/calendar/r" class="btn btn-secondary">View in Google Calendar</a>
    </div>
</div>

<script>
    var this_trip_id = $('#trip_id')[0].value
    $.ajax(`/api/calendar/${this_trip_id}`).done( response => {
        
        // find unique dates as col headers
        dates = $.uniqueSort(response.items.map(item => new Date(item.start.dateTime).toDateString()))
        dates.forEach( date => {
            // create table header
            var header = $('<th></th>').attr({scope: "col"}).html(date)
            $('.date-header').append(header)
            data = $('<td></td>').attr({class: 'event-space'})
            $('.event-table').append(data)
            // fetch events on the same day
            var events = response.items.filter( item => new Date(item.start.dateTime).toDateString() == date)
            events.forEach(event => {
                $('td').last().append(`${event.summary}<br/>
                                        ${event.location}<br/>
                                        ${moment(event.start.dateTime).format("h:mm A")} - ${moment(event.end.dateTime).format("h:mm A")}<br/>
                                        <br/>`)
            });
        })
    })
</script>